@charset "UTF-8";
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.67px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.27px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
/*设置文字大小(防止页面加载进入的时候字体大小变化很大，所以文字的容器一定要是下面这些元素)*/
[data-dpr="1"] p,
[data-dpr="1"] i,
[data-dpr="1"] span,
[data-dpr="1"] label,
[data-dpr="1"] b,
[data-dpr="1"] a,
[data-dpr="1"] button,
[data-dpr="1"] input::-webkit-input-placeholder,
[data-dpr="1"] textarea::-webkit-input-placeholder {
  font-size: 12px;
}
/* dpr = 1 */
[data-dpr="2"] p,
[data-dpr="2"] i,
[data-dpr="2"] span,
[data-dpr="2"] label,
[data-dpr="2"] b,
[data-dpr="2"] a,
[data-dpr="2"] button,
[data-dpr="2"] input::-webkit-input-placeholder,
[data-dpr="2"] textarea::-webkit-input-placeholder {
  font-size: 24px;
}
/* dpr = 2 */
[data-dpr="3"] p,
[data-dpr="3"] i,
[data-dpr="3"] span,
[data-dpr="3"] label,
[data-dpr="3"] b,
[data-dpr="3"] a,
[data-dpr="3"] button,
[data-dpr="3"] input::-webkit-input-placeholder,
[data-dpr="3"] textarea::-webkit-input-placeholder {
  font-size: 36px;
}
/* dpr = 3 */
[data-dpr="1"] h3 {
  font-size: 12px;
}
/* dpr = 1 */
[data-dpr="2"] h3 {
  font-size: 26px;
}
/* dpr = 2 */
[data-dpr="3"] h3 {
  font-size: 38px;
}
/* dpr = 3 */
[data-dpr="1"] h2 {
  font-size: 14px;
}
/* dpr = 1 */
[data-dpr="2"] h2 {
  font-size: 28px;
}
/* dpr = 2 */
[data-dpr="3"] h2 {
  font-size: 40px;
}
/* dpr = 3 */
[data-dpr="1"] h1 {
  font-size: 16px;
}
/* dpr = 1 */
[data-dpr="2"] h1 {
  font-size: 30px;
}
/* dpr = 2 */
[data-dpr="3"] h1 {
  font-size: 42px;
}
/* dpr = 3 */
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
}
/* 禁止缩放表单 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  resize: none;
  border: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 图片自适应 */
img {
  width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #F7F7F7;
}
em,
i {
  font-style: normal;
}
ul,
li {
  list-style-type: none;
}
strong {
  font-weight: normal;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
a {
  text-decoration: none;
  color: #969696;
  font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: 'Microsoft YaHei';
}
img {
  border: none;
}
input {
  font-family: 'Microsoft YaHei';
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
.w20 {
  width: 20%;
}
.w33 {
  width: 33.333333%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block !important;
}
.dn {
  display: none;
}
/*单行溢出*/
/*多行溢出 手机端使用*/
/* 水平垂直居中的公共类 */
/* 水平居中公共类 */
/* 垂直居中公共类 */
header {
  width: 100%;
  height: 1.96rem;
  background-color: #ff841d;
  border-bottom: 2px solid #f68e36;
  box-sizing: border-box;
  padding: 0.1rem;
  font-weight: 700;
}
header .left {
  margin-left: 0.4rem;
  margin-top: 0.46rem;
}
header .left img {
  width: 0.96rem;
  height: 0.96rem;
}
header .center {
  height: 100%;
  line-height: 1.96rem;
  text-align: center;
  margin-left: 1.6rem;
  margin-right: 2rem;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 700;
}
header .right {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}
header .right img {
  width: 100%;
}
section.inland_body ul li a {
  display: inline-block;
  color: #000;
  height: 11.6rem;
  padding: 0.4rem 0.8rem;
  box-sizing: border-box;
  background-color: #fff;
}
section.inland_body ul li a .pic {
  padding: 0.3rem;
}
section.inland_body ul li a .pic img {
  width: 100%;
}
section.inland_body ul li .bottom {
  height: 4rem;
}
section.inland_body ul li .bottom .price {
  color: red;
  margin-top: 0.2rem;
}
section.inland_body ul li .bottom .productName {
  height: 1.6rem;
  overflow: hidden;
}
section.inland_body ul li .bottom .mall {
  width: 100%;
  height: 0.9rem;
  margin-top: 0.2rem;
  font-size: 0.48rem;
  line-height: 0.9rem;
}
section.bottom .footer {
  margin-top: 1rem;
}
section.bottom .footer ul {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 0.7rem;
}
section.bottom .footer ul li {
  width: 30%;
  height: 100%;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
section.bottom .footer ul li a {
  color: #000;
}
section.bottom .footer ul li i {
  display: inline-block;
  width: 0.5rem;
  height: 0.6rem;
  background-image: url("../images/top.jpg");
  background-size: 100% 100%;
}
section.bottom .footer ul :last-child {
  width: 40%;
  border: none;
}
section.bottom .foo-bottom {
  text-align: center;
  height: 2.5rem;
  margin-top: 1rem;
}
section.bottom .foo-bottom .first :first-child {
  color: red;
}
section.bottom .foo-bottom a {
  color: #000;
}
